@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #0a0a0a;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "PT Sans",Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
